body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/fondo\ para\ inicar\ seccion.jpg);
    margin: 1;
}
.login-container {
    background-color: rgb(255, 249, 241);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 243, 243, 0.964);
    width: 300px;
    text-align: center;
    color: #e1c915;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background: #eeff00;
    color: rgb(24, 13, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background: #fbff07;
}
